.registerScreen {
  background-image: url("../static/images/2664275.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  width: 100%;
}

.registerScreenTitle {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  margin-top: 200px;
  margin-left: 100px;
  padding: 10px;
  width: 40%;
  height: auto;
}

.registerScreenTitle h1 {
  color: var(--primaryColor);
  font-size: 45px;
  font-weight: 700;
  padding: 10px;
}

.registerScreen p {
  color: black;
  font-size: 30px;
  font-weight: 400;
  padding: 10px;
}

/* register screen form */

.h1class {
  color: var(--primaryColor);
  font-size: 65px;
  font-weight: 700;
  padding: 10px;
}

.registerScreenForm {
  background-color: white;
  opacity: 0.9;
  /* margin-right: 30px */
  padding: 50px 20px 30px 20px;
  /* width: 25%; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0.3;
  margin-top: 50px;
  height: 400px;
  /* right: 200px; */
  border-radius: 15px;
  width: 25%;
  box-shadow: 20px 20px 40px #a4a4a4, -20px -20px 40px #ffffff;
}

.registerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nameSection {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
}

.nameSection input {
  padding: 10px;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid gray;
}
#fname {
  margin-right: 10px;
}

.inputItems {
  width: auto;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid gray;
}

.registerForm label {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 8px;
}

.registerForm p {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 10px;
}

.signup {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: var(--secondaryColor);
  cursor: pointer;
}

.regScreen_h4 {
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  align-self: center;
  padding: 10px;
}

.regScreen_h4 span {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: var(--primaryColor);
}

.para {
  position: absolute;
  top: 0px;
  color: red !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  align-self: center;
}
